<mat-card [formGroup]="chiefGroup" style="background: #e2e2e2;">

  <mat-card-header>
    <mat-card-title>chief works!</mat-card-title>
    <mat-card-subtitle>
      <span> id: <input formControlName="id" id="userId" type="text" /> </span>,
      <span> typing: ToDo </span>
    </mat-card-subtitle>
  </mat-card-header>


  <mat-card-content >
    <mat-form-field style="width: 100%" >
      <input matInput placeholder="Chief text"  formControlName="text" type="text" (keydown.enter)="messageAdd()" />
    </mat-form-field>



    <div  class="answer-from" *ngIf="(subordinateMessage$ | async).length > 0"> answer from <b>subordinate</b>:
      <section *ngFor="let mess of subordinateMessage$ | async">
        <span> ID: <span id="userId" > {{mess.id}} </span> </span>
        <span> SAID: <span> {{mess.text}} </span> </span>
      </section>
    </div>


  </mat-card-content>






  <!--<button (click)="messageAdd('Add')">message Add</button>-->
  <!--<button (click)="messageAdd('Add')">message Add</button>-->
  <!--<div>Current Count: {{ (count$ | async).allMessage }}</div>-->
  <!--<button (click)="messageRemove('Add')">message Remove</button>-->
  <!--<button (click)="messageChange('Change')"> message Change </button>-->


</mat-card>
