<!--
<mat-card >

  <mat-card-header>
    <mat-card-title>chief works!</mat-card-title>
    <mat-card-subtitle> {{chief.id}} typing: {{chief.typing}} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <input type="text" value="{{chief.text}}">
  </mat-card-content>

</mat-card>
todo:5
-->

<button (click)="increment('increment')">Increment</button>

<div>Current Count: {{ count$ | async }}</div>

<button (click)="decrement('Decrement')">Decrement</button>

<button (click)="reset('Reset Counter')">Reset Counter</button>
