<mat-card [formGroup]="personGroup" style="background: #e2e2e2;">

  <mat-card-header>
    <mat-card-title> subordinate works!!</mat-card-title>
    <mat-card-subtitle>
      <span> id: <input formControlName="id" id="userId" type="text" /> </span>,
      <span> typing: ToDo </span>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field style="width: 100%" >
      <input matInput placeholder="User text"  formControlName="text" type="text" (keydown.enter)="messageAdd()" />
    </mat-form-field>

    <div class="answer-from" *ngIf="(chiefMessage$ | async).id"> answer from <b>chief</b>:
      <p >ID: <span id="userId" > {{(chiefMessage$ | async).id}} </span></p>
      <p >SAID: {{(chiefMessage$ | async).text}} </p>
    </div>

  </mat-card-content>

</mat-card>
