<header>
  <h3>Задание на изучение NgRx из библиотеки Angular </h3>

  <ol>
    <li>верхний пишет всем</li>
    <li>все пишут верхнему.</li>
    <li>нижние немогут писать друг другу, кроме верхнего</li>
    <li> Todo: <a href="https://pusher.com/tutorials/typing-indicator-file-attachment-angular-7">typing </a>
      при вводе собеседником текста, выводить остальным собеседникам статус ввода текста</li>
  </ol>

</header>


<main>

    <project-chief class="chief" ></project-chief>

    <div class="list-subordinate" >
      <project-subordinate
        *ngFor="let person of humanity; index as asd"
        [personalNumber]="asd"
      ></project-subordinate>
    </div>

</main>


<footer>
  List text to reading:
  <ul>
    <li><a href="https://golosay.net/ngrx-store-architecture/">NgRx Store: архитектура для Angular приложений/</a></li>
    <li><a href="https://habr.com/ru/post/418369/">Habr angular-ngrx-data — state management и CRUD за пять минут</a></li>
    <li> Typing and upload files:
      <a href="https://pusher.com/tutorials/typing-indicator-file-attachment-angular-7">tutorials</a>,
      <a href="https://github.com/ayoisaiah/angular7-chatroom">github</a>
    </li>
  </ul>
</footer>
